$cardWidth: 200px;
.cards-list{
	max-width: 1000px;
	margin: 50px auto 0;
	padding-right: 50px;
	.cards{
		max-width: 200px;
		margin-bottom: 50px;
		margin-left: 50px;
		.media{
			height: 200px;
			background-position: center top;
			// background-size: contain;
		}
	}
}
